<div class='col-lg-10 mx-auto' >
    <h1 class='text-center mt-5 mb-4' ><%=@title_text%></h1>
    <p class='text-center' ><%=@subtitle_text%></p>
    <p class="text-center">Colorize text with material design text colors.</p>
    <%# <p class="text-center text-default">.text-default</p> %>
    <p class="text-primary text-center">text-primary</p>
    <p class="text-secondary text-center">text-secondary</p>
    <p class="text-success text-center">text-success</p>
    <p class="text-danger text-center">text-danger</p>
    <p class="text-warning text-center">text-warning</p>
    <p class="text-info text-center">text-info</p>    
</div>
<%# <%= render 'shared/links' %> 